@import "colors.css";
window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @accent_color;
  background-color: @accent_fg_color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;
  color: @accent_color;
}

image {
  color: @accent_color;
}

progressbar {
  border-radius: 5;
}

progress {
  background-color: @accent_color;
}
