# Ignore installation log files
install_log_*.log

# Ignore backup directories
# .old/
*.bak
*.pre-dotfiles.*

# Ignore yazi plugins
configs/yazi/.config/yazi/plugins

# Ignore Neovim swap files
*.swp
*.swo

# Ignore fastfetch/Yazi cache if you ever generate any locally
.cache/

# General Linux/System trash
.Trash-*

# Ignore Matugen generated color files
/media
/tmp
configs/yazi/.config/yazi/theme.toml
configs/waybar/.config/waybar/colors.css
configs/rofi/.config/rofi/colors.rasi
configs/nvim/.config/nvim/lua/matugen_theme.lua
configs/mako/.config/mako/mako-colors
configs/kitty/.config/kitty/themes/Matugen.conf
configs/kitty/.config/kitty/current-theme.conf
configs/hypr/.config/hypr/colors.conf
# configs/hypr/.config/hypr/colors.lua
configs/gtk-3.0/.config/gtk-3.0/colors.css
configs/gtk-4.0/.config/gtk-4.0/colors.css
configs/zed/.config/zed/themes/matugen.json
configs/zed/.config/zed/settings.json
