/* Import Matugen colors */
@import "colors.rasi"

* {
    font: "MapleMono Bold 16";
    background-color: transparent;
}

configuration {
    modi: "drun,window";
    show-icons: true;
    disable-history: true;
}

window {
    width: 18%;
    background-color: var(surface);
    border-radius: 16px;
    padding: 25px;
}

/* Main container for elements within the window */
mainbox {
    children: [ listview ];
}

/* List View Styling */
listview {
    columns: 1;
    lines: 3;
    spacing: 10px;
}

/* Style for each row/element */
element {
    padding: 15px 20px;
    background-color: var(surface-container-low);
    text-color: var(on-surface-variant);
    border-radius: 16px;
    cursor: pointer;
}

element selected.normal {
    background-color: var(primary);
    text-color: var(on-primary);
}

/* Styling for the icon */
element-icon {
    size: 32px;
    padding: 0px 10px 0px 0px;
}

/* Styling for the text */
element-text {
    text-color: inherit;
    cursor: inherit;
}
