/* Import Matugen colors */
@import "colors.rasi"

* {
    background-color: transparent;
}

configuration {
    modi: "dmenu";
    show-icons: false;
}

window {
    width: 40%;
    transparency: "real";
    background-color: var(surface);
    border-radius: 16px;
    padding: 25px;
}

mainbox {
    children: [ listview ];
}

listview {
    columns: 3;
    lines: 2;
    spacing: 15px;
}

element {
    padding: 42px;
    border-radius: 16px;
    background-color: var(surface-container-low);
    text-color: var(on-surface-variant);
    cursor: pointer;
}

element selected.normal {
    background-color: var(primary);
    text-color: var(on-primary);
}

element-text {
    font: "MapleMono 36";
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.50;
    cursor: inherit;
}
