@import "colors.rasi"

* {
    background-color: transparent;
    text-color: var(on-surface);
}

window {
    width: 80%;
    border-radius: 1.2em;
    padding: 0.5em;
    background-color: var(surface);
    location: center;
    anchor: center;
}

mainbox {
    padding: 1em;
    children: [ "listview" ];
}

listview {
    /* Columns are dynamically injected by the bash script */
    lines: 1;
    spacing: 1em;
    flow: horizontal;
    fixed-height: true;
    fixed-columns: true;
    scrollbar: false;
}

element {
    orientation: vertical;
    padding: 0.5em;
    border-radius: 1.2em;
    cursor: pointer;
    children: [ "element-icon" ];
}

element selected.normal {
    background-color: var(secondary-container);
}

element-icon {
    size: 18em;
    border-radius: 0.8em;
    cursor: inherit;
}
